<%- include('block_inicio') %>
<div class="container">
  <br><br><br><br>
  <div class="row d-flex justify-content-center">
    <div class="alert alert-success" role="alert" style="width: 50%; border: 2px solid grey;">
      <h1 class="alert-heading">¡SUCCESS!</h1>
      <p><%=message%></p>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <a href="/home" class="btn btn-secondary" style="width: 10%;">Home</a>
  </div>
</div>
<%- include('block_end') %>

<style>
  .bt {
    border: 1px solid blue;
  }
</style>