<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   <h1>test</h1> 

</body>

<script>

/*$.ajax({
       type:'GET',
       url:'/secure/test',
       headers: {
        'authorization':token}
       //data:{user :user, password:pass} 
    }).done(function(res){
        console.log(res)
    }).fail(function(err){
        console.log('Error: '+ err);
    })*/


</script>
</html>